.CarouselButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CarouselButton {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.CarouselButtonIcon {
  margin-right: 4px;
}
