.combined-container {
  display: flex;
}

.left-container {
  width: 50%;
  padding: 20px;
}

.right-container {
  width: 50%;
  padding: 20px;
}

.event-list {
  margin-top: 20px;
}

.event {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.event-details {
  margin-bottom: 10px;
}

.event-title {
  margin-top: 0;
}

.event-info {
  margin-bottom: 10px;
}

.event-description {
  margin-bottom: 0;
}

.event-actions {
  text-align: center;
}

.event-confirm {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.event-confirmed {
  color: green;
  font-weight: bold;
}

.event-date,
.event-location {
  margin: 0;
}

@media (max-width: 768px) {
  .combined-container {
    flex-direction: column;
  }

  .left-container,
  .right-container {
    width: 100%;
  }
}
