.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.event {
  width: calc(33.33% - 10px);
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.event-left {
  margin-right: 10px;
}

.event-right {
  margin-left: 10px;
}

.event-details {
  margin-bottom: 10px;
}

.event-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.event-info {
  margin-bottom: 5px;
}

.event-description {
  margin-bottom: 10px;
}

.event-actions {
  text-align: right;
}

.event-confirm {
  padding: 5px 10px;
  background-color: #1D419F;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.event-confirmed {
  color:#8696FE;
  font-weight: bold;
}

.event-confirm:hover {
  background-color: #1D419F;
}