.grid-item {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 20px;
  margin-bottom: 20px;
}

.grid-item.small {
  width: 250px;
  height: 200px;
}

.grid-item:hover {
  transform: scale(1.1);
  background-color: #aaa;
}

.space {
  width: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}