.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid-item img {
  width: 150px;
  height: 150px;
}

.grid-item:hover {
  transform: scale(1.1);
  background-color: #aaa;
}

.space {
  width: 20px;
}
