.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.search-input {
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
}

