.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  .image-container img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px; /* ou supprimer cette propriété pour des angles droits */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .image-container img:hover {
    transform: scale(1.1);
  }
  
  .selected-image {
    margin: 20px;
    text-align: center;
  }
  
  .selected-image h2 {
    margin-bottom: 10px;
  }
  
  .selected-image img {
    max-width: 100%;
    height: auto;
  }