/* FAQ.css */

.faq-container {
  background-color: #f5f5f5; /* Add your desired background color here */
}

.faq-heading {
  color: #333; /* Change the color of the heading text */
}

.faq-item {
  background-color: #fff; /* Change the background color of each FAQ item */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq-question span {
  font-weight: bold;
  color: #555; /* Change the color of the question text */
}

.faq-answer {
  margin-top: 10px;
  color: #777; /* Change the color of the answer text */
}

.faq-question svg {
  font-size: 18px;
  color: #777; /* Change the color of the plus/minus icons */
}

.faq-question:hover svg {
  color: #1D419F ; /* Change the color of the plus/minus icons on hover */
}
/* FAQ.css */

.faq-heading {
  color: #8696FE;
  text-align: center; /* Replace #ff0000 with your desired color code */
}
