.red-number {
  color: #8696FE;
  font-weight: bold;
}



.navbar {
  margin-bottom: 16px;
}
.profs-table {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.profs-table .header {
  font-weight: bold;
  padding: 8px;
}

.profs-table .number {
  padding: 8px;
}


